@import '~sass-mq';


.print-container {
	text-align: center;
	margin: 1vh 0;
	background-color: #00dbff1c;
	border:2px solid black;
	padding: 1vh 0;


	h1 {
		width:100%;
		text-align: center;
	}

	p{
		font-weight: 500;
	}

	button {
		font-weight: 500;
		border-radius: 25px;
		background-color: flowerwhite;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		outline: none;
	}
	
	.switch input {
		position: absolute;
		left: -99999px;
	}
	
	.slider {
	    position: absolute;
	    cursor: pointer;
	  	top: 0;
	  	left: 0;
	 	right: 0;
	  	bottom: 0;
	  	background-color: #ccc;
	  	-webkit-transition: .4s;
	 	transition: .4s;
	  	border-radius: 34px;
	}
	
	.slider:before {
	  	position: absolute;
	  	content: "";
	  	height: 26px;
	  	width: 26px;
	  	left: 4px;
	  	bottom: 4px;
	  	background-color: white;
	  	-webkit-transition: .4s;
	  	transition: .4s;
	  	border-radius: 50%;
	}

	input:checked + .slider {
	 	background-color: #2196F3;
	}

	input:focus + .slider {
	  	box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  	-webkit-transform: translateX(26px);
	  	-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
}


@include mq($from : desktop) {
	.print-container {
			position:fixed;
			right: 0;
			top: 10vh;
			width: 10vw;
			height: auto;
			text-align: center;
			
			.row {
				display: block;
				margin: 0;

				h1 {
					font-size: 1vw;
				}

				p {
					font-weight: 500;
				}
				.side-col-sm-12{
					text-align: center;
					max-width: 100%;
					border-bottom: 2px solid black;
				}

				.col-6 {
					margin: 0;
					max-width: 100%;
				}

				button {
					width: 100%;
					margin: 5px 0;
					
					font-weight: 500;
				}
			}
		}
}


@media print {
	.orderEditing-wrapper {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		border: 0;

		.order-form-container {
			.order-header {
				img {
					width: 40%;
				}	

				h1, input {
					font-size: 20px;
					padding: 0;
				}			
			}

			.order-body {

				&.marginLeftForPrinting-2 {
					margin-left: 8.333%;
				}
				
				&.marginLeftForPrinting-4 {
					margin-left: 16.667%;
				}

				&.marginLeftForPrinting-6 {
					margin-left: 25%;
				}
				
				&.marginLeftForPrinting-8 {
					margin-left: 33.333%;
				}
			}
		}

		.price-display-container {
			width:50%;
			float:right;
			display:block;
			page-break-inside: avoid;
			.row {
				p,input {
					margin: 1px !important;
					font-size: 20px;
					font-weight: 900;
				}
			}

			.row:last-child {
				p,input {
					font-size: 28px;
				}
			}
		}

		.note-container {
			margin: 0;
			width: 49%;
			float:left;
			page-break-inside: avoid;

			&:before {
				content : "";
			 	position: absolute;
			  	right    : 50%;
			  	bottom  : 0;
			  	height  : 350px;
			  	width   : 1px;  /* or 100px */
			  	border-right:1px solid lightgray;
			}

			textarea {
				border: 1px solid black;
			}
		}		

	}
}













