@import '~sass-mq';


.newMessage-container {
	position : absolute;
	width: 100vw;
	bottom: 20vh;
	left : 0;
	text-align: center;
	opacity: .6;
	visibility: hidden;

	h1 {
		width: fit-content;
		margin: auto;
		padding: 1vw;
		background-color: white;
		border: 2px solid gray;
		font-size: 22px;
		border-radius: 25px;
		color: gray;
	}
}

.messageInputSection-wrapper {
	background-color: bisque;
	border-top: 1px solid black;
	position: fixed;
	width: 100vw;
	height: 20vh;
	left:0;
	bottom: 0;

	& > div {
		height: 19vh;
		padding-top: 1vh;
	}


	div > div  {	
		& {
			display: grid;
		}

		&.row {
			padding: 5px;
		}

		&.row:first-child {	
			border-bottom: 1px dotted black;
		}

		h1 {
			font-size: 22px;
			width: 90%;
			text-align: center;
			margin: auto 5px;
		}

		input,select,textarea {
			flex-grow: 1;
			width: 90%;
			margin: 0 auto;
			resize: none;
			font-size: 22px;
		}

		button {
			height: 50%;
			margin: auto 0;
		}
	}
}


@include mq ($until: desktop) {
	.newMessage-container {
		h1 {
			font-size: 2.5vw;
		}
	}

	.messageInputSection-wrapper {
		
		.authorContainer {
			display: flex;
			text-align: center;
			border-bottom: 1px dotted black;
			margin-bottom: 1vh;
			.row {
				width: 50%;
				display: block;
				margin: 0 auto;
				&.row:first-child {
					border: 0;
				}
			}
		}

		div > div {
		
			h1,input,select,textarea {
				font-size: 16px;
			}
			textarea {
				margin: auto;
				width: 95%;
			}

			button {
				padding: 0;
				margin: 0 auto;
				height: auto;
				width: 95%;
			}
		}
	}
}