@import '~sass-mq';

.orderEditing-wrapper {
	.saveFunction {
			margin-bottom: 1vh;
			div > div {
				text-align: center;

				&:first-child {
					text-align: left;
				}

				*{
					display: inline-block;
					font-size: 1.5vw;
					height: 100%;
				}

				h1 {
					font-size: 1.5vw;
				}

				button{
					font-size: 1vw;
				} 

				select {
					height: 90%;
				}
			}
		
	}


	@include mq($from: tablet, $until: desktop) {
		.saveFunction {
			h1 {
				font-size: 2vw;
			}

			button {
				font-size: 1.5vw;
			}
		}
	}


	@include mq($from: mobile, $until: tablet) {
		.saveFunction {
	
			div > div {
				*{
					display: inline;
				}

				h1 {
					font-size: 14px;
				}

				button {
					font-size: 14px;
					height: auto;
				}

				select {
					height: auto;
				}

				option {
					font-size: 14px;
				}
			}
		}
	}
}


