@import '~sass-mq';

.orderReview-wrapper {

	@include mq($from: desktop) {
		.duplicateFunction {
			margin-bottom: 1vh;
			height: 5vh;
			
			div > div {
				display:table;
				text-align: center;
				* {
					height: 100%;
				}

				h1 {
					font-size: 1.5vw;
				}
				button,a {
					display:table-cell;
					vertical-align: middle;
					font-size: 1vw;
				}
			}
		}
	}


	@include mq($from: tablet, $until: desktop) {
		.duplicateFunction {
			div > div {
				h1 {
					font-size:2vw;
				}

				button {
					font-size: 1.5vw;
				}

				a {
					font-size: 1.2vw;
				}
			}
		}
	}


	@include mq($from: mobile, $until: tablet) {
		.duplicateFunction {
			div > div {
				h1 {
					font-size: 14px;
				}

				button {
					font-size: 12px;
				}

				a {
					font-size: 7px;
				}
			}
		}	
	}
}