@import '~sass-mq';

.addItem_function_bar {
	position: fixed;
	bottom: 0;
	left: 0;

	p {
		display: inline-block;
		margin: 0 5px;
	}


	.suggested_items_container {
		width: 35%;
		height:30vh;
		border: 2px solid black;
		background-color: white;
		border-radius: 20px;
		overflow-y: scroll;
		overflow-x: hidden;

		.row {
			padding: 10px;
			border: 1px solid lightgray;
			background-color: aliceblue;
			font-weight: 900;
			cursor: pointer;

			&:hover {
				transform:scale(1.1);
				padding-left: 5%;
				background-color: darkturquoise;
			}
		}
	}

	.addItem_input_bar {
		background-color: floralwhite;
	}
}


@include mq($until: desktop) {
	.addItem_function_bar {

		.suggested_items_container {
			width: 100%;
			height:20vh;
		}

		.addItem_input_bar {

			&>div {
				
				p {
					width:100%;
				}
				input {
					width: 100%;
				}
			}
		}
	}
}



@include mq($until: tablet) {
	.addItem_function_bar {

		.suggested_items_container {
			width: 100%;
			height:20vh;
			font-size: 3vw;
		}

		.addItem_input_bar {

			&>div {
				p {

					width:100%;
					height:8vh;
					font-size: 4vw;
				}
				input {
					
				}
				button {
					position: absolute;
					bottom:0;
				}
			}
		}
	}

}