.addItem-wrapper {
	background-color: red;
	width: 100%;
	position: fixed;
	bottom: 0;

	&>.row {

		&>.col-11 {

			&>div{
				display: inline-block;
				margin: 0 5px;

				&>* {
					display: inline-block;
				}

				&>p {
					margin-right: 3px;
					font-weight: 900;
				}

				&>input[type="number"] {
					width: 4vw;
				}

				&>select {
					width: 4vw;
				}
			}
		}
	}
}