@import '~sass-mq';

.addItem-wrapper{
	background-color: antiquewhite;
	width: 100%;
	position: fixed;
	bottom: 0;
	left:0;

	.suggestedItems-container.row {
		overflow-y: scroll;
		
		.suggestedItems {
			border: 2px solid black;
			border-radius: 25px;
			margin: 10px;
			padding: 5px;
			font-weight: 900;
			background-color: azure;
			cursor: pointer;

			&:hover {
				background-color: black;
				color: white;
				transform:scale(1.1);
			}

		}
	}

	&>.row {
		.input-container {
			div{
				display: inline-block;
				margin: 0 5px;

				&>p {
					margin: 0;
					font-weight: 900;
				}

				&>input, &>select {
					width: 90%;
				}

			}
		}

		@include mq($until: desktop) {
			.button-container {
				text-align: center;
				margin-top: 10px;
				.btn {
					width: 80%;
					border-radius: 25px;
				}
			}

		}
	}

}