@import '~sass-mq';

.orderList-container {
	width: 80%;

	.diplayAllOrders_rendeinc {
		margin-top: 5vh;
		
		button {
			width: 100%;
			font-size: 2.5vw;
			border-radius: 50px;
		}
	}

	.orders-container {
		border: 2px solid black;
		margin-top: 5vh;
		background-color: beige;

		h1 {
			width: 100%;
			text-align: center;
			background-color: lightblue;
			border-bottom: 2px solid black;
			margin: 0;

		}

		.row  {
			border-bottom: 1px solid black;

			&.orderHeader {
				background-color: azure;
				font-weight: 900;
				font-size: 1.2vw;
			}

			&>div {
				text-align: center;
			}
		}
	}
}

@include mq ($until: tablet) {
	.orderList-container {
		width: 100%;

		.diplayAllOrders_rendeinc {
			margin-top: 2vh;
			
			button {
				font-size: 4vw;			
			}
		}

		.orders-container {
			margin-top: 2vh;

			h1 {
				font-size: 4vw;
			}

			.row  {
				border-bottom: 1px solid black;

				&.orderHeader {
					font-size: 3vw;
				}

				&>div {
					padding: 0;

					p {
						margin: 5px;
					}

					a {
						font-size: 3vw;
						padding: 5px;
						margin: 5px;
					}
				}
			}
		}
	}
}