@import '~sass-mq';

.orders-wrapper {
	.orderEditing-container {
		text-align: center;

		a {
			width: 80%;
			font-size: 2.5vw;
			border-radius: 50px;

			&:hover {
				box-shadow: 10px 10px lightgray;
				transform:scale(1.1);
			}
		}
	}
}



@include mq($until: tablet) {

	.orders-wrapper {
		.orderEditing-container {
			a {
				width: 100%;
				font-size: 4vw;
				border-radius: 50px;

				&:hover {
					box-shadow: 10px 10px lightgray;
					transform:scale(1.1);
				}
			}

		}		
	}
}