@import '~sass-mq';

header {
	position: absolute;
	background-color: floralwhite;
	border-bottom: 2px solid;
	height: 5vh;
	width: 100%;
	top: 0;
	left:0;


	a:hover {
		text-decoration: none;
	}

	h1 {
		font-size:2.5vh;
		cursor: pointer;
		color: black;

		&:hover {
			transform: scale(1.1);
			padding-left: 2.5vw;
		}
	}

	.logOut-container {
		text-align: right;
		overflow: hidden;

		h1:hover {
			padding-right: 1vw;
		}
	}
}


@include mq ($until: desktop) {
	header {
		h1 {
			font-size: 3vw;
		}	
	}
}
