$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 990px,
    wide:    1300px
);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-none {
	display: none;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center: {
  text-align: center !important;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.text-red {
  color: red;
}


@media print { 

  .no-print {
    display: none !important;
  }

  input {
    border: 0;
  }
}